.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  /* background-color: red; */
}
.input {
  border-radius: 5px;
  border: 1px solid #c5cbd4;
  padding: 7px;
}
.horizontal-line {
  display: inline-block;
  width: 100%;
  height: 0.5px;
  background-color: lightgray;
}
